#home-section{
  display: flex;
  width: 100vw;
  height: 90vh;
}


.home-container{
  background: asset-url('blob1.svg');
  background-repeat: no-repeat;
  width: 80vw;
  height: 90vh;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    border-radius: 50%;
  }
}


.photo {
  width: 30%;
}
.texts {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1px;
  text-align: center;
}

.buttons {
  margin: 32px;
}

.btn-projet {
  background-color: #5100CA;
  color: white;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn-projet:hover {
  opacity: 1;
  background-color: white;
  color:#5100CA;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  text-decoration: none;
}

.btn-contact {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-contact:hover {
  opacity: 1;
  background-color: #5100CA;
  color: white;
  text-decoration: none;
}

